<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UPES Saarthi</title>
        <link rel="stylesheet" href="/css/stylee.css">
        <script src="https://kit.fontawesome.com/4c5acf577d.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
    </head>
<body>

    <header class="main-header">
        <div class="logo">
            <img src="/img/logo.avif" alt="Logo">
        </div>
        <nav>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/service">Service</a></li>
                <li><a href="/user">UDashboard</a></li>
                <li><a href="/admin">ADashboard</a></li>
                <li><a href="/feedback">Review</a></li>
                <li><a href="/login">Login</a></li>

            </ul>
        </nav>        
</header>
    

    <!-- Hero Section -->
    <section class="hero-section">
        <div class="hero-overlay">
            <h1>UPES SAARTHI</h1> <br>
            <h2>Best <span class="highlight">recommendations</span>, crafted <span class="highlight">communities</span>, and endless <span class="highlight">networking</span> for college students</h2>
            <p class="hero-text">Immerse in an exclusive experience designed just for students. Network, nurture, and navigate your college cosmos with flair.</p>
        </div>
    </section>

    <!-- About Section (Larger + Background Image) -->
    <section id="about">
        <div class="about-overlay">
            <h2 class="highlight-blue">The Heart of College Life</h2>
            <p>
                College life goes beyond academics—it's a journey of experiences, friendships, and self-discovery. <br>
                Find Your Stay - Discover safe and affordable hostels near campus. <br> 
                Best Cafes & Food Joints - Perfect for studying or relaxing with friends. <br>  
                Health & Wellness - Access trusted doctors, pharmacies, and mental health support. <br>
                Easy Transport - Find reliable cab services and campus shuttles. <br>
                And much more!!
            </p>
        </div>
    </section>

    <!-- Best Places Carousel -->
    <!-- Best Places Carousel -->
<div class="carousel-container">
    <button class="prev">&lt;</button>
    <div class="carousel">
        <div class="carousel-track">
            <div class="carousel-item hostel" onclick="openPopup('hostel')">
                <h3>Best Hostels</h3>
            </div>
            <div class="carousel-item cafe" onclick="openPopup('cafe')">
                <h3>Best Cafes</h3>
            </div>
            <div class="carousel-item doctor" onclick="openPopup('doctor')">
                <h3>Best Doctors</h3>
            </div>
            <div class="carousel-item cabs" onclick="openPopup('cabs')">
                <h3>Cab Services</h3>
            </div>
            <div class="carousel-item deli" onclick="openPopup('deli')">
                <h3>Deli Shops</h3>
            </div>
        </div>
    </div>
    <button class="next">&gt;</button>
</div>

<!-- Popup Modal -->
<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close" onclick="closePopup()">&times;</span>
        <h2 id="popup-title"></h2>
        <p id="popup-text"></p>
    </div>
</div>

<footer class="footer">
    <div class="footer-content">
        <div class="middle">
            <p>Made in Response to Minor Project 2</p>
            <a href="https://github.com/Jahnavi-Anand/College-Community-webApp.git" target="_blank">Click to View GitHub Repository</a>
        </div>
        <hr class="footer-line" />
        <div class="social-icons">
            <a href="https://www.instagram.com/upes_dehradun/" target="_blank" class="icon-circle">
                <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="https://www.facebook.com/UPESddnuk" target="_blank" class="icon-circle">
                <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="https://www.youtube.com/user/UPESUniversity/featured" target="_blank" class="icon-circle">
                <i class="fa-brands fa-youtube"></i>
            </a>
            <a href="https://www.linkedin.com/school/upesdehradun/posts/?feedView=all" target="_blank" class="icon-circle">
                <i class="fa-brands fa-linkedin-in"></i>
            </a>
            <a href="https://x.com/UPESDehradun" target="_blank" class="icon-circle">
                <i class="fa-brands fa-x-twitter"></i>
            </a>
            <a href="https://www.upes.ac.in/" target="_blank" class="icon-circle">
                <i class="fa-solid fa-link"></i>
            </a>
        </div>
    </div>
</footer>

<script src="/js/home.js"></script>

</body>
</html>